<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <form action = "/" method = "POST">
            <div class="section container">
                <nav class="panel">
                    <p class="panel-heading">
                        To Do List
                    </p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input is-small" type="text" placeholder="new task" name = "txtTask" id="txtTask">
                            <button class="button" type="submit">Add new task</button>
                        </p>
                    </div>
                    <% if (todo.length > 0) { %>
                        <% for (let List of todo) { %>
                        <a class="panel-block is-active">
                            <span class="panel-icon">
                                <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            <p class="title is-4"><%=List.toDo%></p>
                        </a>
                        <% } %>
                        <% } else { %>
                        <h1>No Tasks Found!</h1>
                        <% } %>
                    </nav>
                </div>
            
            
                <%- include('includes/scripts.ejs') %>
        </form>
    </main>
            
</body>

</html>